{% extends 'base.html' %}
{% block content %}

<a href="{{ url_for('auth.edit_profile', obj_id=user.id) }}" class="btn btn-secondary float-right btn-sm">
	<i class="fas fa-edit"></i> Edit Profile
</a>

<h1>{{ user.display_name() }}'s Profile</h1>


<div class="row">
	<div class="col-md-2 col">

	</div>
	<div class="col">
		<h2>About</h2>
		{% if user.about_me %}
			<p>
				{{ user.html()|safe }}
			</p>
		{% else %}
			<p>Nothing here yet...</p>
		{% endif %}
		<h4>Website</h4> 
		{% if user.website %}
			<a href="{{ user.website }}" target="_blank">
        <i class="fas fa-external-link-alt"></i>
        {{ user.website_domain() }}
      </a>
		{% endif %}
	</div>
</div>

{% if user.fictions %}

	<h2 class="mt-4">Fictions</h2>

	<div class="row">
		{% for fiction in user.fictions %}

			<div class="col-md-4 col-sm-6 col">
				<div class="card">
					<div class="card-body">

						<a href="{{ url_for('main.fiction', obj_id=fiction.id) }}">
							<img src="{{ fiction.cover }}" class="float-left mr-3" width="100" height="150" />
							<h3>{{ fiction.title }}</h3>
						</a>
						<h6 class="text-muted">{{ fiction.subtitle }}</h6>

						<small>{{ fiction.snippet()|safe }}</small>

					</div>
				</div>
			</div>

		{% endfor %}

{% endif %}

{% endblock %}
