{% extends 'base.html' %}
{% block content %}

<h1>Sign Up!</h1>

<form action="" method="post">
	{{ signup_form.hidden_tag() }}

	<!--USERNAME-->
	<div class="form-group row mt-4">
		{{ signup_form.username.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if signup_form.username.errors %}
				{{ signup_form.username(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in signup_form.username.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ signup_form.username(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--EMAIL-->
	<div class="form-group row mt-4">
		{{ signup_form.email.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if signup_form.email.errors %}
				{{ signup_form.email(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in signup_form.email.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ signup_form.email(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--FIRST NAME-->
	<div class="form-group row mt-4">
		<label class="col-sm-2 control-from-label text-md-right">
			Full Name
		</label>
		<div class="col-sm-4">
			{% if signup_form.first_name.errors %}
				{{ signup_form.first_name(class="form-control is-invalid", placeholder='First') }}
				<div class="invalid-feedback">
					{% for error in signup_form.first_name.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ signup_form.first_name(class="form-control", placeholder='First') }}
			{% endif %}
		</div>

	<!--LAST NAME-->
		<div class="col-sm-4">
			{% if signup_form.last_name.errors %}
				{{ signup_form.last_name(class="form-control is-invalid", placeholder='Last') }}
				<div class="invalid-feedback">
					{% for error in signup_form.last_name.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ signup_form.last_name(class="form-control", placeholder='Last') }}
			{% endif %}
		</div>
	</div>

	<!--PASSWORD-->
	<div class="form-group row mt-4">
		{{ signup_form.password.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if signup_form.password.errors %}
				{{ signup_form.password(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in signup_form.password.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ signup_form.password(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--CONFIRM PASSWORD-->
	<div class="form-group row mt-4">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			{% if signup_form.confirm_password.errors %}
				{{ signup_form.confirm_password(class="form-control is-invalid", placeholder='Confirm Password') }}
				<div class="invalid-feedback">
					{% for error in signup_form.confirm_password.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ signup_form.confirm_password(class="form-control", placeholder='Confirm Password') }}
			{% endif %}
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-book-reader"></i>
				Sign Up!
			</button>
		</div>
	</div>


</form>

{% endblock %}
