{% extends 'base.html' %}
{% block content %}

<div class="card shadow">
	<div class="card-body">

		<div class="row">
			<div class="col-md-3">
				<img src="https://cdn4.iconfinder.com/data/icons/colicon/24/book_bookmark_cover-512.png" class="img-responsive" width="100%"/>
			</div>
			<div class="col-md-9">
				<a href="">
					<h3>
						Your Book Here
					</h3>
				</a>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla pretium ullamcorper. Proin blandit, ipsum et tincidunt scelerisque, justo urna imperdiet enim, non scelerisque mi mi vitae ex. Integer interdum odio id est tincidunt dignissim. Proin eu mattis odio. Integer facilisis dignissim purus eget aliquet. Vivamus blandit eros leo, eu sagittis odio facilisis at. Sed porta neque eu volutpat fermentum. Fusce gravida imperdiet semper. 
				</p>
				<p>
					 Etiam non turpis placerat, suscipit ante quis, luctus lectus. Quisque vitae massa at ipsum aliquam tempus. Fusce aliquet leo ac arcu vestibulum pretium. Vivamus non mollis orci, vel imperdiet ex. Quisque metus purus, fringilla sed mi vel, placerat consectetur leo. 
				</p>
				<p>
					 Aenean id aliquet mi, fringilla tempus purus. Aenean eget dictum ex, ac fringilla erat. Etiam vitae arcu a sem tincidunt tincidunt lobortis non sem. Curabitur congue maximus auctor. Nunc et elit id dui vehicula suscipit. Mauris tempus enim eu arcu ullamcorper volutpat. Sed tincidunt congue venenatis. Phasellus eu consequat turpis. Mauris et diam metus. Donec at eleifend massa. Etiam sodales nec nulla aliquam volutpat. Nullam elementum ultrices arcu ut dapibus. Integer eu ligula lacinia mi scelerisque imperdiet iaculis nec nibh. Aliquam lorem augue, bibendum sit amet rutrum ac, feugiat at mauris.
				</p>

			</div>
		</div>

	</div>
</div>

{% endblock %}
