<div class="row">
	<div class="col-4">
		<a href="{{ url_for('main.fiction', obj_id=fiction.id) }}">
			<img src="https://cor-cdn-static.bibliocommons.com/assets/default_covers/icon-book-93409e4decdf10c55296c91a97ac2653.png" class="img-responsive" width="100%"/>
		</a>
	</div>
	<div class="col">
		<h4>
			<a href="{{ url_for('main.fiction', obj_id=fiction.id) }}">
				{{ fiction.title }}
			</a>
		</h4>
		<h6 class="text-muted">
			{{ fiction.subtitle }}
		</h6>
		<ul class="list-unstyled">
			<li>
				{% for genre in fiction.genres %}
				<i class="{{ genre.icon }}"></i> {{ genre.name }} &nbsp;&nbsp;
				{% endfor %}
			</li>
			{% if fiction.rating %}
				<li>
					{{ fiction.rating }}
				</li>
			{% endif %}
			<li>
				{{ fiction.average_rating('stars')|safe }}
				&nbsp;&nbsp;
			</li>
			<li>
				<b>Views:</b> {{ fiction.total_views if fiction.total_views else 0 }}
			</li>
			<li>
				<b>Votes:</b> {{ fiction.total_votes if fiction.total_votes else 0 }}
			</li>
		</ul>
	</div>
</div>
