{% extends 'base.html' %}
{% block content %}

{% if current_user.is_authenticated and fiction.author_id == current_user.id %}
	<a href="{{ url_for('main.edit_fiction', obj_id=fiction.id) }}" class="btn btn-sm btn-secondary float-right">
		<i class="fas fa-edit"></i>
		Edit Fiction
	</a>
{% endif %}

<div class="row">
	<div class="col-md-3">

		<img src="https://cor-cdn-static.bibliocommons.com/assets/default_covers/icon-book-93409e4decdf10c55296c91a97ac2653.png" class="img-responsive" width="100%"/>

    {% if fiction.links %}
      <a href="{{ fiction.links[0].url }}" class="btn btn-block btn-lg btn-primary mt-3 mb-3">
        <i class="fas fa-book-reader"></i>
        Read It Here
      </a>
    {% endif %}

    <h3>All Links</h3>

		<ul>
      {# if fiction.links|length > 1 #}
        {% for link in fiction.links %}
          <li>
            <a href="{{ link.url }}">
              {{ link.domain() }}
              <i class="fas fa-external-link-alt"></i>
            </a>
          </li>
        {% endfor %}
      {# endif #}
		</ul>

	</div>
	<div class="col-md-9">
		<h1>
			{{ fiction.title }}
		</h1>
		{% if fiction.subtitle %}
			<h4 class="text-muted">
				{{ fiction.subtitle }}
			</h4>
		{% endif %}
			<p>
				<b>By:</b>
				<a href="{{ url_for('auth.profile', username=fiction.author.username) }}">
					{{ fiction.author.username }}
				</a><br />

				<b>Genres:</b>
				{% for genre in fiction.genres %}
					<a href="">
            <i class="{{ genre.icon }}"></i>
						{{ genre.name }}</a>
				{% endfor %}
			</p>

		<hr />

		<div class="row mb-3">

			<div class="col-md-4 col">
				<b>Status:</b> <span class="badge badge-primary">Ongoing</span>
			</div>

			<div class="col-md-4 col">
				<b>Chapters/Month:</b> {{ fiction.simple_frequency() }}
			</div>

			<div class="col-md-4 col">
				<b>Word Count:</b> {{ fiction.words }}
			</div>

		</div>
		
		<div class="row">

			<div class="col-md-4 col">
				<b>Votes:</b> 0
			</div>

			<div class="col-md-4 col">
				<b>Rating:</b> 
        <span data-toggle="tooltip" title="Average: {{ fiction.average_rating('text') }}{% if rating %} - Your Rating: {{ rating.stars }}{% endif %}">
          <span id="rate_bar">
            {% for num in range(1, 6) %}<a href="{{ url_for('main.rate', obj_id=fiction.id, stars=num) }}" class="rate-star {% if fiction.average_rating('float') >= num %}text-yellow{% endif %}"><i class="fas fa-star"></i></a>{% endfor %}
          </span>
        </span>
			</div>

			<div class="col-md-4 col">
        <b>Views:</b> {{ fiction.view_count() }}
			</div>

		</div>

		<hr />
		
		{{ fiction.html()|safe }}

    <h2>Releases</h2>

    <p class="text-muted">
      Nothing Here Yet
    </p>

    <h2>Reviews</h2>

    <p class="text-muted">
      Nothing Here Yet
    </p>

	</div>
</div>

{% endblock %}
