{% extends 'base.html' %}
{% block content %}

<a href="{{ url_for('main.add_submission') }}" class="btn btn-secondary float-right">
  <i class="fas fa-plus"></i>
  New Submission
</a>

<h1>My Submissions</h1>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Synopsis</th>
			<th>Status</th>
			<th width="75">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for submission in submissions %}
			<tr>
				<td>
					{{ submission.title }}
				</td>
				<td>
					{{ submission.snippet() }}
				</td>
				<td>
          {{ submission.text_approval() }}
				</td>
				<td class="text-center">
					<a href="{{ url_for('main.edit_submission', obj_id=submission.id) }}" class="btn btn-primary btn-sm">
						<i class="fas fa-edit"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
