{% extends 'base.html' %}
{% block content %}

<div class='float-right'>
	<div class='row'>
		<label class="col-from-label col-md-3 mt-2 text-right">Source:</label>
		<div class="col">
			<select class="form-control">
				<option value=''>Private Websites</option>
				<option value=''>Wattpad</option>
				<option value=''>RoyalRoad</option>
				<option value=''>ScribbleHub</option>
				<option value=''>All</option>
			</select>
		</div>
	</div>
</div>


<div class="card">
  <div class="card-body">
    <h1 class="mb-4">Top Rated Stories</h1>
    
    <div class="row">
      
      {% for fiction in top_rated %}
        <div class="col-2">
          <a href="{{ url_for('main.fiction', obj_id=fiction.id) }}">
            <h4>
              {{ fiction.title }}
            </h4>
            <h6 class="text-muted">
              {{ fiction.subtitle }}
            </h6>
          </a>
          {% for genre in fiction.genres %}
          <i class="{{ genre.icon }} jquery-tooltip" title="{{ genre.name }}"></i>
          {% endfor %}
        </div>
      {% endfor %}

    </div>

  </div>
</div>


<!--
<div class="row">
	<div class="col-sm-9">

			{% for fiction in fictions %}
			<div class="row">
				<div class="col-2">
					{% if fiction.cover %}
						<img src="{{ fiction.cover }}" width="100%" />
					{% else %}
						<img src="https://cor-cdn-static.bibliocommons.com/assets/default_covers/icon-book-93409e4decdf10c55296c91a97ac2653.png" class="img-responsive" width="100%"/>
					{% endif %}
				</div>
				<div class="col">
					<a href="{{ url_for('main.fiction', obj_id=fiction.id) }}">
						<h3>
							{{ fiction.title }}
							{% if fiction.subtitle %}
								<small class="text-muted">{{ fiction.subtitle }}</small>
							{% endif %}
						</h3>
					</a>
					<p class="text-muted">
						By: {{ fiction.author.display_name() }}
					</p>
					<p>	
            {{ fiction.snippet()|safe }}
					</p>
				</div>
			</div>
			<hr width="90%" />
		{% endfor %}
	
	</div>
	<div class="col-sm-3 col">
		<div class="list-group">
      <a href="{{ url_for('main.top_stories') }}" class="list-group-item list-group-item-action {% if sort == 'trending' %}active{% endif %}">
				Trending
			</a>
      <a href="{{ url_for('main.top_random') }}" class="list-group-item list-group-item-action {% if sort == 'random' %}active{% endif %}">
				Random Order
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Best Rated
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Popular This Week
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Most Weekly Votes
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Most Viewed
			</a>
		</div>
	</div>
</div>
-->

{% endblock %}
