{% extends 'base.html' %}
{% block content %}

<div class='ml-auto' style="max-width: 400px;">
	<div class='row'>
		<label class="col-from-label col-md-3 mt-2 text-right">Source:</label>
		<div class="col">
			<select class="form-control">
				<option value=''>Private Websites</option>
				<option value=''>Wattpad</option>
				<option value=''>RoyalRoad</option>
				<option value=''>ScribbleHub</option>
				<option value=''>All</option>
			</select>
		</div>
	</div>
</div>

<br /><br />

<div class="card clearfix">
  <div class="card-body">
    
    <h1 class="mb-4">Top Rated Fiction</h1>
    <div class="p-2 sidescroll-box">
        
        {% for fiction in top_rated %}
          <div class="sidescroll-card">
            {% include 'main/fiction-card.html' %}
          </div>
        {% endfor %}

    </div>

  </div>
</div>


<div class="row mt-4">
  <div class="col-12 col-md-4 mb-4">

    <div class="card card-gray">
      <div class="card-body">
      
        <h2 class="mb-4">
          Popular Fiction
        </h2>

					<p class="text-muted">Coming soon!</p>

        {# for fiction in popular_fictions %}
          <div class="border-bottom p-2 border-secondary">
            {% include 'main/fiction-card.html' %}
          </div>
        {% endfor #}

      </div>
    </div>

  </div>
  <div class="col-12 col-md-4 mb-4">

    <div class="card">
      <div class="card-body">
      
        <h2 class="mb-4">
          Most Weekly Votes
        </h2>


					<p class="text-muted">Coming soon!</p>

        {# for fiction in voted_fictions %}
          <div class="border-bottom p-2 border-secondary">
            {% include 'main/fiction-card.html' %}
          </div>
        {% endfor #}

      </div>
    </div>

  </div>
  <div class="col-12 col-md-4 mb-4">

    <div class="card">
      <div class="card-body">
      
        <h2 class="mb-4">
          Random Fiction
        </h2>

        {% for fiction in random_fictions %}
					<div class="p-2">
            {% include 'main/fiction-card.html' %}
          </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div>

<!--
<div class="row">
	<div class="col-sm-9">

			{% for fiction in fictions %}
			<div class="row">
				<div class="col-2">
					{% if fiction.cover %}
						<img src="{{ fiction.cover }}" width="100%" />
					{% else %}
						<img src="https://cor-cdn-static.bibliocommons.com/assets/default_covers/icon-book-93409e4decdf10c55296c91a97ac2653.png" class="img-responsive" width="100%"/>
					{% endif %}
				</div>
				<div class="col">
					<a href="{{ url_for('main.fiction', obj_id=fiction.id) }}">
						<h3>
							{{ fiction.title }}
							{% if fiction.subtitle %}
								<small class="text-muted">{{ fiction.subtitle }}</small>
							{% endif %}
						</h3>
					</a>
					<p class="text-muted">
						By: {{ fiction.author.display_name() }}
					</p>
					<p>	
            {{ fiction.snippet()|safe }}
					</p>
				</div>
			</div>
			<hr width="90%" />
		{% endfor %}
	
	</div>
	<div class="col-sm-3 col">
		<div class="list-group">
      <a href="{{ url_for('main.top_stories') }}" class="list-group-item list-group-item-action {% if sort == 'trending' %}active{% endif %}">
				Trending
			</a>
      <a href="{{ url_for('main.top_random') }}" class="list-group-item list-group-item-action {% if sort == 'random' %}active{% endif %}">
				Random Order
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Best Rated
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Popular This Week
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Most Weekly Votes
			</a>
			<a href="" class="list-group-item list-group-item-action disabled">
				Most Viewed
			</a>
		</div>
	</div>
</div>
-->

{% endblock %}
