body {
  background-color: #1c1c1c;
  color: #aaa;
}
.navbar, .navbar.navbar-brand, .navbar a {
  color: #ccc;
}
.navbar {
  background-color: #1c1c1c;
}
.card {
  background-color: #222;
  color: #aaa;
}
.dropdown-menu {
  background: #343a40;
}
.dropdown-item {
  color: #aaa;
}
.dropdown-item:hover {
  background: #222;
  color: #aaa;
}
.dropdown-divider {
  border-top: 1px solid #111;
}
.modal-content {
  background-color: #222;
  color: #aaa;
}
section.content-wrapper {
  background-color: #1c1c1c;
  color: #aaa;
}
ol.breadcrumb {
  background-color: #333;
}
.table {
  color: #aaa;
}
.table td, .table th {
  border-top: 1px solid #1c1c1c;
}
table.dataTable tbody tr {
  background-color: #2a2a2a;
}
table.dataTable tbody tr:hover {
  background-color: #333;
  color: #aaa;
}
input, textarea, button, select, .form-control {
  background-color: #333;
  color: #aaa;
}
.form-control:focus {
  background-color: #111;
  color: #aaa;
}
.dataTables-wrapper label, .dataTables_info ,
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
  color: #aaa;
}
.list-group-item {
  background: rgba(125,125,125,0.13);
  color: #aaa;
}
.list-group-item:hover {
  background: rgba(125,125,125,0.3);
  color: #aaa;
}
.list-group-item.disabled {
  background: rgba(125,125,125,0.5);
  color: #aaa;
}
.select2-container--default .select2-selection--multiple {
  background-color: #333;
}
