.navbar {
  background-color: #fafafa;
}
.navbar .navbar-brand {
  font-family: 'Anonymous Pro', monospace;
  font-size: 175%;
  line-height: 20px;
}
.navbar .navbar-brand small {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand small {
  font-size: 60%;
}
body {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #fafafa;
}
.text-purple {
  color: #5f00ad;
}

.logo-img {
  max-height: 30px;
}
.card {
  background: #fff;
	border: 1px solid rgba(175,175,175,0.4);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.sidescroll-box {
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 300px;
  white-space: nowrap;
}
.sidescroll-card {
	max-width: 400px;
  display: inline-block;
}
a.rate-star {
  color: #ccc;
  text-decoration: none;
  text-shadow: 0px 0px 2px #000;
}
a.rate-star:hover {
  color: #fe0;
}
.text-yellow {
  color: #fe0 !important;
}
#rate_bar {
  display: inline-block;
  display: inline;
}
#rate_bar > .rate-star:before {
  color: #ccc;
  text-decoration: none;
}
#rate_bar:hover > a:before {
  color: #fe0;
}
#rate_bar:hover > a:hover ~ a:before {
  color: #ccc;
}
.badge-GRN {
	background-color: #00b20b;
	color: #fff;
}
.badge-ORG {
	background-color: #f90;
	color: #000;
}
.badge-PNK {
	background-color: #d100c3;
	color: #fff;
}
.badge-PUR {
	background-color: #8000d6;
	color: #fff;
}
.badge-YLW {
	background-color: #fff600;
	color: #000;
}
.badge-RED {
	background-color: #cc0000;
	color: #fff;
}
.badge-BLU {
	background-color: #0000cc;
	color: #fff;
}
.badge-BLK {
	background-color: #000;
	color: #fff;
}
.badge-GRY {
	background-color: #aaa;
	color: #fff;
}
.badge-WHT {
	background-color: #fff;
	color: #000;
	border: 1px solid #ddd;
}
.fieldlist-card {
  background-color: rgba(125,125,125, 0.04);
}
.dev-banner {
	background-color: rgba(200,0,0,0.6);
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 76px;
	height: 20px;
	z-index: 1030;
}
.dev-banner h6 {
  color: #fff;
}
