{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<h1>
  Submissions
  <small class="text-muted">
    {{ status.title() }}
  </small>
</h1>

<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Updated</th>
      <th width="75">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
      <tr>
        <td>
          <span class="badge badge-{{ submission.style }}">
            {{ submission.name }}
          </span>
        </td>
        <td>
          {{ submission.description }}
        </td>
        <td>
          {{ moment(submission.updated).fromNow() }}
        </td>
        <td class="text-center">
          <a href="{{ url_for('admin.edit_submission', obj_id=submission.id) }}" class="btn btn-sm btn-primary">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
