{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<h2>
  Submissions
  <small class="text-muted">
    {{ status.title() }}
  </small>
</h2>

<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>Submitted</th>
			<th>User</th>
      <th>Title</th>
      <th>Synopsis</th>
      <th width="75">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
      <tr>
        <td>
          {{ moment(submission.updated).fromNow() }}
        </td>
        <td>
					<a href="{{ url_for('auth.profile', username=submission.author.username) }}">
						{{ submission.author.username }}
					</a>
        </td>
        <td>
					{{ submission.title }}
        </td>
        <td>
          {{ submission.snippet() }}
        </td>
        <td class="text-center">
          <a href="{{ url_for('admin.edit_submission', obj_id=submission.id) }}" class="btn btn-sm btn-primary">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
