{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<h1>Subscribers</h1>

<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for subscriber in subscribers %}
      <tr>
        <td>
          {{ subscriber.first_name }}
          {{ subscriber.last_name }}
        </td>
        <td>
          <a href='mailto:{{ subscriber.email }}'>
            {{ subscriber.email }}
          </a>
        </td>
        <td>
          {{ subscriber.comment }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
